[user]
	name = Prince Thind
	email = princethind799@gmail.com
[init]
	defaultBranch = main
[color]
	ui = auto
[pull]
	rebase = false
[core]
	editor = nvim
[alias]
	unstage = restore --staged
	last = log -1 HEAD
